# Supabase direct Postgres connection string
# Supabase connection details can be found in the settings for the database
DATABASE_URL="postgresql://postgres.$SUPABASE_URL:$SUPABASE_URL_PASSWORD@$SUPABASE_SERVER_URL:6543/postgres"
PORT=3001
}
